/* Cube3D.css */
.cube-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.cube-container {
    position: relative;
    cursor: grab;
}

.cube {
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transition: transform 120ms linear;
}

.cube-controls {
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
    display: flex;
    gap: 8px;
}

.cube-controls button {
    padding: 4px 10px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    backdrop-filter: blur(4px);
    color: white;
    cursor: pointer;
}