@keyframes rotate_1x_2y {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(720deg);
    }
}

@keyframes rotate_y {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes rotate_earth {
    from {
        transform: rotateY(0deg) rotateX(-66.56deg);
    }

    to {
        transform: rotateY(360deg) rotateX(-66.56deg);
    }
}

.object-container {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
        width: 400px;
        height: 400px;
        background-color: #ccc;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .slider-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 600px;
        padding: 16px;
        z-index: 1;

        label {
            display: flex;
            font-weight: bold;

            div {
                width: 120px;
                text-align: start;
            }

            input {
                flex: 1;
                cursor: pointer;
            }
        }
    }

    .button-box {
        display: flex;

        .btn,
        .btn:focus {
            flex: 1;
            color: #007bff;
            background-color: transparent;
            border: 2px solid #007bff;
            font-weight: bold;
            transition: all 0.1s ease;
        }

        .btn:hover {
            color: #fff;
            background-color: #007bff;
            border: 2px solid #007bff;
            font-weight: bold;
        }
    }
}

.line {
    position: absolute;
    width: 500px;
    height: 4px;

    &.line-x {
        color: #ff0000;
        background-color: #ff0000;
        transform: rotateX(0) rotateY(0) rotateZ(0);

        &.x-2 {
            transform: rotateX(90deg) rotateY(0) rotateZ(0);
            background-color: #fff;
            text-align: end;
        }
    }

    &.line-y {
        color: #28a745;
        background-color: #28a745;
        transform: rotateX(0) rotateY(0) rotateZ(90deg);

        &.y-2 {
            transform: rotateX(0) rotateY(90deg) rotateZ(90deg);
            background-color: #fff;
            text-align: end;
        }
    }

    &.line-z {
        color: #007bff;
        background-color: #007bff;
        transform: rotateX(0) rotateY(90deg) rotateZ(0);

        &.z-2 {
            transform: rotateY(90deg) rotateX(90deg) rotateZ(0);
            background-color: #fff;
            text-align: end;
        }
    }
}

.rotation-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #808080;

    .slider-group {
        width: 400px;
        display: flex;
        align-items: center;

        label {
            width: 100px;
        }

        input {
            width: 100%;
        }
    }
}