@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(720deg);
    }
}

@keyframes spinY {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes earth_rotate {
    from {
        transform: rotateY(0deg) rotateX(-66.56deg);
    }

    to {
        transform: rotateY(360deg) rotateX(-66.56deg);
    }
}

.object-container {
    width: 100%;
    min-height: 100vh;
    margin: 40px 0;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        width: 100%;
        min-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .slider-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 800px;
        padding: 16px;
        z-index: 1;

        label {
            display: flex;
            justify-content: center;
            font-weight: bold;

            div {
                width: 120px;
            }

            input {
                flex: 1;
                cursor: pointer;
            }
        }
    }

    .btn,
    .btn:focus {
        color: #007bff;
        background-color: transparent;
        border: 2px solid #007bff;
        font-weight: bold;
        transition: all 0.1s ease;
    }

    .btn:hover {
        color: #fff;
        background-color: #007bff;
        border: 2px solid #007bff;
        font-weight: bold;
    }
}