.scene-pyramid {
    width: 300px;
    height: 300px;
    perspective: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    /* transform: scale(5); */

    .pyramid {
        position: relative;
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        transition: all 1s ease;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        animation: spin 10s linear infinite;

        .face {
            position: absolute;
            width: 100px;
            height: 115.47px;
            background: #007bff80;
            opacity: 0.9;
            transition: all 1s ease;

            clip-path: polygon(50% 0%, 100% 75%, 0% 75%);

            display: flex;
            justify-content: center;
            align-items: center;
        }

        --Distance: 20.412px;
        --Angle: -70.529deg;

        .bottom {
            transform: rotateY(180deg) translateZ(var(--Distance));
            background-color: #ffff0080;
        }

        .front {
            transform: rotateX(var(--Angle)) translateZ(var(--Distance));
            background-color: #ff000080;
        }

        .left {
            transform: rotateZ(120deg) rotateX(var(--Angle)) translateZ(var(--Distance));
            background-color: #00800080;
        }

        .right {
            transform: rotateZ(-120deg) rotateX(var(--Angle)) translateZ(var(--Distance));
            background-color: #0000ff80;
        }
    }
}