.scene-object {
    width: 100%;
    height: 100%;
    min-height: 800px;
    perspective: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

    filter: drop-shadow(0 0 20px #007bff);
    user-select: none;

    .object {
        position: relative;
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        transition: all 0.1s ease;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        /* animation: rotate_1x_2y 10s linear infinite; */

        .face {
            position: absolute;
            width: 100px;
            height: 100px;
            background: #007bff80;
            opacity: 0.9;
            transition: all 1s ease;

            border: 1px solid #000;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}