.japaneseradical-container {
    width: 100%;
    min-height: 100vh;
    margin: 40px 0;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;

    .japanese-font {
        font-family: 'Klee One', Arial, sans-serif;
    }

    .heading {
        h2 {
            margin: 0 0 20px;
            color: #fd73a7;
            font-size: 54px;
            font-weight: bold;
        }
    }

    form {
        width: 100%;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        .form-group {
            width: 100%;
            max-width: 300px;

            input {
                outline: none;
                width: 100%;
                padding: 6px 12px;
                border-radius: 8px;
                border: 2px solid #fdd9e5;
            }

            input:focus {
                box-shadow: 0 0 0 0.25rem rgba(249, 157, 188, 0.314);
                border-color: #f99dbc;
            }
        }

        .btn,
        .btn:focus {
            color: #fff;
            background-color: #f99dbc;
            font-weight: bold;
            border: 2px solid #f99dbc;
        }

        .btn:active {
            background-color: #fd73a7;
            border-color: #fd73a7;
        }
    }

    .japanese-content {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;

        .japanese-row {
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(6, minmax(0, 1fr));
            gap: 20px;

            .japanese-col {
                display: flex;
                justify-content: center;
                align-items: start;
                cursor: pointer;

                .grid-card {
                    padding: 8px;
                    width: 160px;
                    height: 240px;
                    background-color: #fdd9e5;
                    border: 2px solid #f99dbc;
                    border-radius: 16px;
                    align-items: center;
                    text-align: center;
                    box-shadow: 0px 0px 8px #f99dbc80;
                    box-sizing: border-box;

                    h1 {
                        margin: 0;
                        font-size: 80px;
                    }

                    .sinovietnamese {
                        margin: 8px 0;
                        font-size: 24px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1400px) {
        .japanese-content {
            .japanese-row {
                grid-template-columns: repeat(6, minmax(0, 1fr));
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .japanese-content {
            .japanese-row {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
        }
    }

    @media screen and (max-width: 992px) {
        .japanese-content {
            .japanese-row {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
        }
    }

    @media screen and (max-width: 768px) {
        .japanese-content {
            .japanese-row {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
    }

    @media screen and (max-width: 576px) {
        .japanese-content {
            .japanese-row {
                grid-template-columns: repeat(3, minmax(0, 1fr));

                .japanese-col {
                    .grid-card {
                        h1 {
                            font-size: 40px;
                            /* Change something here */
                        }
                    }
                }
            }
        }
    }
}