.go-container {
    width: 100%;
    min-height: 100vh;
    margin: 40px 0;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;

    .heading {
        h1 {
            margin: 0 0 20px;
            color: #d97720;
            font-size: 54px;
            font-weight: bold;
        }
    }

    .detail {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 10px;

        .support {
            display: flex;
            justify-content: center;
            gap: 10px;

            .btn {
                background-color: #fb8b24;
                font-weight: bold;
                border: none;
            }
        }

        .result {
            padding: 5px 4px;
            border-radius: 8px;

            h2 {
                margin: 0;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        table {
            display: block;
            justify-self: center;
            width: calc(var(--table-width) * 35)px;
            overflow: hidden;
            border-radius: 12px;
            border: 4px solid #dcaf6b;
            background-color: #dcaf6b;

            tr {
                margin: 0;
                padding: 0;
                height: 35px;

                .put-black:hover {
                    border-radius: 50%;
                    background-color: hsl(36, 62%, 30%);
                }

                .put-white:hover {
                    border-radius: 50%;
                    background-color: hsl(36, 62%, 78%);
                }

                td {
                    margin: 0;
                    padding: 0;
                    width: 35px;
                    background-color: #dcaf6b;
                    position: relative;

                    .stick {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        .top,
                        .right,
                        .bottom,
                        .left {
                            position: absolute;
                            background-color: #000;

                            &.top {
                                width: 1px;
                                height: 50%;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                            &.bottom {
                                width: 1px;
                                height: 50%;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                            &.right {
                                width: 50%;
                                height: 1px;
                                top: 50%;
                                right: 0;
                                transform: translateY(-50%);
                            }

                            &.left {
                                width: 50%;
                                height: 1px;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                            }
                        }
                    }

                    .dot {
                        width: 80%;
                        height: 80%;
                        background-color: red;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        &.black {
                            background-color: #666666;
                        }

                        &.white {
                            background-color: #dddddd;
                        }

                        &.gray {
                            background-color: #80808080;
                            background-color: transparent;
                        }

                        &.last-dot {
                            box-shadow: 0 0 0 2px #ff000080;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .content {
            table {
                width: calc(var(--table-width) * 25)px;

                tr {
                    height: 25px;

                    td {
                        width: 25px;

                        .value {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 576px) {
        .content {
            table {
                width: calc(var(--table-width) * 20)px;

                tr {
                    height: 20px;

                    td {
                        width: 20px;

                        .value {
                            font-size: 9px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 440px) {
        .content {
            table {
                width: calc(var(--table-width) * 15)px;

                tr {
                    height: 15px;

                    td {
                        width: 15px;

                        .value {
                            font-size: 7px;
                        }
                    }
                }
            }
        }
    }
}