.footer-container {
    /* background-color: #ccc; */
    background-image: linear-gradient(90deg, #ff8080, #ffc080, #ffff80, #80ff80, #8080ff, #c080ff, #ff80ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', Arial, sans-serif;

    .section-1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;

        div {
            width: 100%;
            padding: 20px;
            text-align: center;

            h1 {
                font-weight: bold;
            }

            p {
                margin: 0;
            }
        }
    }

    .section-2 {
        /* background-color: #aaa; */
        background-image: linear-gradient(90deg, #ff4040, #ffa040, #ffff40, #40ff40, #4040ff, #a040ff, #ff40ff);
        display: flex;
        justify-content: center;
        width: 100%;

        p {
            margin: 10px;
        }
    }

    @media screen and (max-width: 768px) {
        .section-1 {
            flex-direction: column;
            align-items: center;
            max-width: 400px;

            div {
                width: 100%;
                padding: 20px 40px;
            }
        }
    }
}