.flicker-dots {
    .loader {
        display: flex;
        width: 100%;
        height: 24px;

        span {
            width: 16px;
            height: 16px;
            margin: 0 4px;
            background: #007bff;
            border-radius: 50%;
            animation: flicker-dots 0.6s infinite ease-in-out;
        }

        span:nth-child(2) {
            animation-delay: 0.12s;
        }

        span:nth-child(3) {
            animation-delay: 0.24s;
        }
    }
}

@keyframes flicker-dots {

    0%,
    80%,
    100% {
        opacity: 0.5;
        margin-top: 8px;
        margin-bottom: 0;
    }

    40% {
        opacity: 1;
        margin-top: 0;
        margin-bottom: 8px;
    }
}