.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: relative;

    .clock {
        display: flex;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0), 0 25px 45px rgba(0, 0, 0, 0.1);
        position: relative;

        label {
            position: absolute;
            inset: 20px;
            text-align: center;
            transform: rotate(calc(var(--i) * (360deg / 12)));

            span {
                display: inline-block;
                font-size: 30px;
                font-weight: 600;
                transform: rotate(calc(var(--i) * (-360deg / 12)));
            }
        }

        .indicator {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                content: '';
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background: #ccc;
                z-index: 1;
            }

            .hand {
                position: absolute;
                height: 130px;
                width: 4px;
                border-radius: 20px;
                background: #ff0000;

                &.hour {
                    width: 100px;
                    height: 7px;
                    background: #000;
                }

                &.minute {
                    width: 120px;
                    height: 5px;
                    background: #666;
                }

                &.second {
                    width: 140px;
                    height: 3px;
                    background: #ff0000;
                }
            }
        }
    }
}

.interestingcomponent-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}