.laser {
    position: relative;
    overflow: hidden;
    border: 0;
    outline: none;
    border-radius: 7px;
    padding: 12px 15px;
    cursor: pointer;
}

.laser::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, hotpink, transparent);
}

.laser:hover::before {
    animation: swipe-laser 2s linear infinite;
}

@keyframes swipe-laser {
    to {
        left: 100%;
    }
}